/* latin-ext */
@font-face {
  font-family: 'Hanalei Fill';
  font-style: normal;
  font-weight: 400;
  src: url(https://teachermate.oss-cn-qingdao.aliyuncs.com/ZslGF-1728821658923-lolicon.jpg) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Hanalei Fill';
  font-style: normal;
  font-weight: 400;
  src: url(https://teachermate.oss-cn-qingdao.aliyuncs.com/ZslGF-1728821658923-lolicon.jpg) format('woff2');
}